﻿.popup-trigger { display: block; margin: 0 auto; padding: 20px; max-width: 260px; background: #4EBD79; color: #fff; font-size: 18px; font-weight: 700; text-align: center; text-transform: inherit; line-height: 24px; cursor: pointer; }
.popup {display: none; position: absolute; top: 100px; left: 57%; width:580px; margin-left: -350px; padding: 0px 15px; background: #fff; color: #333; font-size: 14px; line-height: 30px; border: 2px solid #9e6e4e; z-index: 9999;}
.popup-mobile {position: relative; top: 0; left: 0; margin: 30px 0 0; width: 100%;}		
.popup-btn-close {position: absolute; top: 8px; right: 14px; color: #9e6e4e; font-size: 14px; font-weight: bold; text-transform: uppercase; cursor: pointer;}	
/*For Password*/
.popup-trigger2 { display: block; margin: 0 auto; padding: 20px; max-width: 260px; background: #4EBD79; color: #fff; font-size: 18px; font-weight: 700; text-align: center; text-transform: inherit; line-height: 24px; cursor: pointer; }
.popup2 {display: none; position: absolute; top: 100px; left: 57%; width: 580px; margin-left: -350px; padding: 0px 15px; background: #fff; color: #333; font-size: 14px; line-height: 30px; border: 2px solid #9e6e4e; z-index: 9999;}
.popup-mobile2 {position: relative; top: 0; left: 0; margin: 30px 0 0; width: 100%;}		
.popup-btn-close2 {position: absolute; top: 8px; right: 14px; color: #9e6e4e; font-size: 14px; font-weight: bold; text-transform: uppercase; cursor: pointer;}	