﻿@model  DontJoinThisCompany.Models.CompanyAndUserExperience.CompanyAndUserExperienceModel
@using DontJoinThisCompany.Core.StringExtension;
@{
    ViewBag.Title = "GetcompanyById";
}

<div class="practice">
    <div class="container">
        <div class="col-md-4 practice-left">
            <h3>Practice of Law</h3>
            <ul>
                <li><a href="#"><span></span>Social Security Law</a></li>
                <li><a href="#"><span></span>Real Property Law </a></li>
                <li><a href="#"><span></span>Criminal Law</a></li>
                <li><a href="#"><span></span>intellectual property </a></li>
                <li><a href="#"><span></span>Serious Personal Injury Cases </a></li>
                <li><a href="#"><span></span>Immigration Law </a></li>
                <li><a href="#"><span></span>Criminal Law</a></li>
                <li><a href="#"><span></span>intellectual property </a></li>
                <li><a href="#"><span></span>Criminal Law</a></li>
                <li><a href="#"><span></span>Business Law </a></li>
                <li><a href="#"><span></span>Malpractice Law </a></li>
                <li><a href="#"><span></span>Family Law</a></li>
                <li><a href="#"><span></span>Insurance Law</a></li>
                <li><a href="#"><span></span>Security Law</a></li>
            </ul>
        </div>
        <div class="col-md-8 practice-right">
            @if (Request.IsAuthenticated)
            {
                <h3>@Model.CompanyDetails.CompanyName <span class="rateit" data-rateit-value="@Model.CompanyDetails.CompanyRating" data-rateit-ispreset="true" data-rateit-readonly="false"></span> </h3>
            }
            else
            {
                <h3>@Model.CompanyDetails.CompanyName <span class="rateit" data-rateit-value="@Model.CompanyDetails.CompanyRating" data-rateit-ispreset="true" data-rateit-readonly="ture"></span> </h3>
            }
            <p>
                @Model.CompanyDetails.CompanyDescription
            </p>
            <div class="pra-lft">
                <h4>Address</h4>
                <address>
                    @Model.CompanyDetails.CompanyAddress<br>
                    <abbr title="Phone">P :</abbr> @Model.CompanyDetails.CompanyTelephone
                </address>
            </div>
            <div class="pra-rgt">
                <h4>Email Address</h4>
                <address>
                    @Model.CompanyDetails.CompanyEmailID<br>
                </address>
            </div>
            <div class="clearfix"></div>
        </div>

        @if (Request.IsAuthenticated && Model.UserExperiences != null)
        {
            <div class="pra-lft">
                <h4> User Experiences</h4>
            </div>
            <div class="userexperience">
                <a class="hvr-shutter-in-horizontal userExperience">Share Your Experience</a>
            </div>
            <div class="pra-lft">
                @foreach (var experience in Model.UserExperiences)
                {
                    <p><span style="color:#9e6e4e;font-size: 18px">@experience.UserFirstName:</span> @experience.UserExperience</p>
                }
            </div>
        }
        else if (Request.IsAuthenticated && Model.UserExperiences == null)
        {
            <div class="pra-lft">
                <h4>User Experiences</h4>
            </div>
            <div class="userexperience">
                <a class="hvr-shutter-in-horizontal userExperience">Share Your Experience</a>
            </div>
        }
        else
        {
            <div class="pra-lft">
                @if (!Request.IsAuthenticated && Model.UserExperiences != null)
                {
                    <h4> User Experiences</h4>
                    foreach (var experience in Model.UserExperiences)
                    {
                        <p><span style="color:#9e6e4e">@experience.UserFirstName:</span> @experience.UserExperience</p>
                    }
                }
            </div>
        }

        <div class="pra-lft">
            <div class="head">
                <div class="soc">
                    <ul>
                        <strong style="color: #9e6e4e">Share on:</strong>
                        <li><a href="http://www.facebook.com/sharer.php?s=100&p[title]=@Model.CompanyDetails.CompanyName&p[url]=@Request.Url" class="facebook-share"><span class="fb"> </span></a></li>
                        @*popup box for facebook share*@
                        <script>
                            $('.facebook-share').click(function (event) {
                                event.preventDefault();
                                var width = 575,
                                height = 400,
                                left = ($(window).width() - width) / 2,
                                top = ($(window).height() - height) / 2,
                                url = this.href,
                                opts = 'status=1' +
                                ',width=' + width +
                                ',height=' + height +
                                ',top=' + top +
                                ',left=' + left;
                                window.open(url, 'Facebook Share', opts);
                            });
                        </script>
                        <li><a href="http://twitter.com/share?text=@Model.CompanyDetails.CompanyDescription.ExtensionForString(100)&url=http://www.telugumesh.com/watchvideo?id=@Model.CompanyDetails.CompanyID" data-size="large" class="twitter-share"><span class="twit"> </span></a></li>
                        <script>
                            // popup box for twitter share
                            $('.twitter-share').click(function (event) {
                                event.preventDefault();
                                var width = 575,
                                 height = 400,
                                 left = ($(window).width() - width) / 2,
                                 top = ($(window).height() - height) / 2,
                                 url = this.href,
                                 opts = 'status=1' +
                                 ',width=' + width +
                                 ',height=' + height +
                                 ',top=' + top +
                                 ',left=' + left;
                                window.open(url, 'Facebook Share', opts);
                            });
                        </script>
                        <li><a href="#"><span class="pin"> </span></a></li>
                        <li><a href="#"><span class="rss"> </span></a></li>
                        <li><a href="#"><span class="drbl"> </span></a></li>
                        <div class="clearfix"></div>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>

        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="popup">
    <div class="contact">
        <div class="container">
            <div class="contact-top">
                <h3>Share Your Experience</h3>
            </div>
            <div class="col-md-6 contact-bottom">
                <form method="post" class="userExperience">
                    @Html.ValidationSummary(true)
                    <input name="CompanyId" value="@Model.CompanyDetails.CompanyID" type="hidden" />
                    <textarea type="text" id="cleardata" placeholder="Your Experience" name="UserExperience"></textarea>
                    <input type="submit" value="Share">
                </form>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <span class="popup-btn-close">close</span>
</div>
<div class="clearfix"></div>
<script>
    // Popup Window
    var scrollTop = '';
    var newHeight = '100';

    $(window).bind('scroll', function () {
        scrollTop = $(window).scrollTop();
        newHeight = scrollTop + 100;
    });

    $('.userExperience').click(function (e) {
        e.stopPropagation();
        if (jQuery(window).width() < 767) {
            $(this).after($(".popup"));
            $('.popup').show().addClass('popup-mobile').css('top', 0);
            $('html, body').animate({
                scrollTop: $('.popup').offset().top
            }, 500);
        } else {
            $('.popup').removeClass('popup-mobile').css('top', newHeight).toggle();
        };
    });

    $('html').click(function () {
        $('.popup').hide();
    });

    $('.popup-btn-close').click(function (e) {
        $('#cleardata').val('');
        $('.popup').hide();
    });

    $('.popup').click(function (e) {
        e.stopPropagation();
    });
    $(".userExperience").submit(function (e) {
        var postData = $(this).serializeArray();
        $.ajax(
        {
            url: "/UserExperience/AddUserExperience",
            type: "POST",
            data: postData,
            success: function (data) {
                if (data.sucess == true) {
                    $('.popup').val('');
                    $('.popup').hide();
                }
                else {
                    $('#result').html(data.msg);
                }
            },
            error: function (jqXHR, textStatus, errorThrown, data) {
                $('#result').html(jqXHR)
            }
        });
        e.preventDefault();
    });
</script>
