﻿@{
    ViewBag.Title = "ForgetPassword";
}

<div class="contact">
    <div class="container">
        <div class="contact-top">
            <h3>Forget Password?</h3>
        </div>
        <div class="col-md-6 contact-bottom">
            <form method="post" action="/ManageUserSettings/ForgetPassword/">
                @Html.ValidationSummary(true)
                <input required type="email" placeholder="Enter Email Address" name="EmailAddress">
                <input type="submit" value="Submit">
            </form>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

