﻿@{
    ViewBag.Title = "ManageSettings";
}

<div class="welcome">
    <div class="container">
        <div class="col-md-4 welcome-right">
            <h3>Manage Settings</h3>
            <ul>
                <li><a class="UserNamePopup"><span></span>Change UserName</a></li>
                <li><a class="PasswordPopup"><span></span>Change Password</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="popup">
    <div class="contact">
        <div class="container">
            <div class="contact-top">
                <h3>Change UserName</h3>
            </div>
            <div class="col-md-6 contact-bottom">
                <span id="result"></span>
                    <form method="post" id="update">
                        @Html.ValidationSummary(true)
                        <input required type="text" placeholder="FirstName" name="FirstName">
                        <input required type="text" placeholder="LastName" name="LastName">
                        <input type="submit" value="Save">
                    </form>
</div>
            <div class="clearfix"></div>
        </div>
    </div>
    <span class="popup-btn-close">close</span>
</div>
<div class="clearfix"></div>
<div class="popup2">
    <div class="contact">
        <div class="container">
            <div class="contact-top">
                <h3>Change Password</h3>
            </div>
            <div class="col-md-6 contact-bottom">
                <span id="result2"></span>
                <form method="post" id="passwordUpdate">
                    @Html.ValidationSummary(true)
                    <input required type="password" placeholder="Current Password" name="CurrentPassword">
                    <input required type="password" placeholder="New Password" name="NewPassword">
                    <input required type="password" placeholder="Confirm Password" name="ConfirmPassword">
                    <input type="submit" value="Save">
                </form>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <span class="popup-btn-close2">close</span>
</div>
<div class="clearfix"></div>

<script>
    // Popup Window
    var scrollTop = '';
    var newHeight = '100';

    $(window).bind('scroll', function () {
        scrollTop = $(window).scrollTop();
        newHeight = scrollTop + 100;
    });

    $('.UserNamePopup').click(function (e) {
        e.stopPropagation();
        if (jQuery(window).width() < 767) {
            $(this).after($(".popup"));
            $('.popup').show().addClass('popup-mobile').css('top', 0);
            $('html, body').animate({
                scrollTop: $('.popup').offset().top
            }, 500);
        } else {
            $('.popup').removeClass('popup-mobile').css('top', newHeight).toggle();
        };
    });

    $('html').click(function () {
        $('.popup').hide();
    });

    $('.popup-btn-close').click(function (e) {
        $('.popup').hide();
    });

    $('.popup').click(function (e) {
        e.stopPropagation();
    });
    $("#update").submit(function (e) {
        var postData = $(this).serializeArray();
        $.ajax(
        {
            url: "/ManageUserSettings/UpdateUserName",
            type: "POST",
            data: postData,
            success: function (data) {
                if (data.sucess == true) {
                    $('.popup').hide();
                }
                else {
                    $('#result').html(data.msg);
                }
            },
            error: function (jqXHR, textStatus, errorThrown, data) {
                $('#result').html(jqXHR)
            }
        });
        e.preventDefault();
    });
</script>
<script>
    // Popup Window
    var scrollTop = '';
    var newHeight = '100';

    $(window).bind('scroll', function () {
        scrollTop = $(window).scrollTop();
        newHeight = scrollTop + 100;
    });

    $('.PasswordPopup').click(function (e) {
        e.stopPropagation();
        if (jQuery(window).width() < 767) {
            $(this).after($(".popup2"));
            $('.popup2').show().addClass('popup-mobile2').css('top', 0);
            $('html, body').animate({
                scrollTop: $('.popup2').offset().top
            }, 500);
        } else {
            $('.popup2').removeClass('popup-mobile2').css('top', newHeight).toggle();
        };
    });

    $('html').click(function () {
        $('.popup2').hide();
    });

    $('.popup-btn-close2').click(function (e) {
        $('.popup2').hide();
    });

    $('.popup2').click(function (e) {
        e.stopPropagation();
    });
    $("#passwordUpdate").submit(function (e) {
        var postData = $(this).serializeArray();
        $.ajax(
        {
            url: "/ManageUserSettings/UpdatePassword",
            type: "POST",
            data: postData,
            success: function (data) {
                if (data.sucess == true) {
                    $('.popup2').hide();
                }
                else {
                    $('#result2').html(data.msg);
                }
            },
            error: function (jqXHR, textStatus, errorThrown, data) {
                $('#result2').html(jqXHR)
            }
        });
        e.preventDefault();
    });
</script>
