﻿@{
    ViewBag.Title = "MatchTokenForResetPassowrd";
}

<div class="contact">
    <div class="container">
        <div class="contact-top">
            <h3>Change Password</h3>
        </div>
        <div class="col-md-6 contact-bottom">
            <span id="result2"></span>
            <form method="post">
                @Html.ValidationSummary(true)
                <input type="hidden" hidden value="@ViewBag.PasswordResetToken" name="ResetToken">
                <input required type="email" placeholder="Email Address" name="EmailAddress">
                <input required type="password" placeholder="New Password" name="NewPassword">
                <input required type="password" placeholder="Confirm Password" name="ConfirmPassword">
                <input type="submit" value="Save">
            </form>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
