﻿@model DontJoinThisCompany.Models.CopmanyViewModel.ComapanyDetailsViewModel
@using DontJoinThisCompany.Core.StringExtension;
@{
    ViewBag.Title = "Home Page";
}
<!-- welcome -->
<div class="welcome">
    <div class="container">
        <div class="col-md-8 welcome-left">
            <h3>Welcome</h3>
            <div class="col-md-6 wel-lft">
                <img src="/Content/images/20.jpg" alt=" " class="img-responsive">
            </div>
            <div class="col-md-6 wel-rgt">
                <p> Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum'</p>
                <p>Will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes</p>
                <a class="hvr-shutter-in-horizontal" href="#">Read More</a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="col-md-4 welcome-right">
            <h3>Top Rated Companies</h3>
            <ul>
                @foreach (var topRated in Model.TopRated)
                {
                    <li><a href="/CompanyDetails/GetcompanyById?id=@topRated.CompanyID"><span></span>@topRated.CompanyName</a></li>
                }
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- welcome -->
<!-- cases -->
<div class="cases">
    <div class="container">
        @if (Request.IsAuthenticated)
        {
            foreach (var recentCompanies in Model.RecentlyAdded)
            {
                <div class="col-md-4 cases-left">
                    <h3>@recentCompanies.CompanyName<span class="rateit updateRating"  data-companyid="@recentCompanies.CompanyID" data-rateit-value="@recentCompanies.CompanyRating" data-rateit-ispreset="true" data-rateit-readonly="false"></span></h3>
                    <p>@recentCompanies.CompanyDescription.ExtensionForString(100)</p>
                    <a class="hvr-shutter-in-horizontal" href="/CompanyDetails/GetcompanyById?id=@recentCompanies.CompanyID">Read More</a>
                </div>
            }
        }
        else
        {
            foreach (var recentCompanies in Model.RecentlyAdded)
            {
                <div class="col-md-4 cases-left">
                    <h3>@recentCompanies.CompanyName<span class="rateit updateRating" data-companyid="@recentCompanies.CompanyID" data-rateit-value="@recentCompanies.CompanyRating" data-rateit-ispreset="true" data-rateit-readonly="true"></span></h3>
                    <p>@recentCompanies.CompanyDescription.ExtensionForString(100)</p>
                    <a class="hvr-shutter-in-horizontal" href="/CompanyDetails/GetcompanyById?id=@recentCompanies.CompanyID">Read More</a>
                </div>
            }
        }
        <div class="clearfix"></div>
    </div>
</div>
<script type="text/javascript">
    $(".updateRating").click(function () {
        var ratedValue = $(this).rateit('value');
        var companyId = $(this).data('companyid');

        console.log(ratedValue);
        console.log(companyId);
        $.ajax({
            async: false,
            type: 'POST',
            data: {RatedValue: ratedValue,CompanyId:companyId },
            url: '/CompanyDetails/UpdateRating',
            success: function (data) {
               
            }
        });
    });
   
</script>
<!-- cases-end -->