﻿@model DontJoinThisCompany.Models.UserLogin.UserLoginModel
@{
    ViewBag.Title = "Index";
}

<div class="contact">
    <div class="container">
        <div class="contact-top">
            <h3>Login Form</h3>
        </div>
        <div class="col-md-6 contact-bottom">
            <form method="post">
                @Html.ValidationSummary(true)
                <input required type="email" placeholder="Email Address" name="EmailAddress">
                <input required type="password" placeholder="Password" name="Password">
                <p> <a href="/ManageUserSettings/ForgetPassword">Forgot your password?</a></p>
                <input type="submit" value="Login">

            </form>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
