﻿@model DontJoinThisCompany.Models.UserRegister.UserRegisterModel

@{
    ViewBag.Title = "RegisterForm";
}

<div class="contact">
    <div class="container">
        <div class="contact-top">
            <h3>Register Form</h3>
        </div>
        <div class="col-md-6 contact-bottom">
            <form method="post" action="/UserRegisterDetail/RegisterForm">
                @Html.ValidationSummary(true)
                @ViewBag.ErrorMessage
                <input required type="text" placeholder="First Name" name="UserFirstName">
                <input required type="text" placeholder="Last Name" name="UserLastName">
                <input required type="email" placeholder="Email Address" name="UserEmailID">
                <input required type="password" placeholder="Password" name="Password">
                <input type="submit" value="Register">
            </form>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

