﻿@{
    ViewBag.Title = "RegisterStepTwo";
}



<div class="welcome">
    <div class="container">
        <div class="col-md-8">
            <h3>Email sent</h3>
            <div class="col-md-8">
                <p>Please check your email to complete the registration</p>
            </div>
            <div class="clearfix"></div>
        </div>     
    </div>
</div>
