﻿@model  List< DontJoinThisCompany.Entities.CompanyDetail>
@using DontJoinThisCompany.Core.StringExtension;
@{
    ViewBag.Title = "SearchTheCompanies";
}

    <!-- cases -->
<div class="clients">
    <div class="container">
        @if (Request.IsAuthenticated)
        {
            foreach (var company in Model)
            {
                <div class="col-md-4 clients-left">
                    <h5>@company.CompanyName <span class="rateit updateRating" data-companyid="@company.CompanyID" data-rateit-value="@company.CompanyRating" data-rateit-ispreset="true" data-rateit-readonly="false"></span></h5>
                    <p>@company.CompanyDescription.ExtensionForString(100)</p>
                    <a class="hvr-shutter-in-horizontal" href="/CompanyDetails/GetcompanyById?id=@company.CompanyID">Read More</a>
                </div>
            }
        }
        else
        {
            foreach (var company in Model)
            {
                <div class="col-md-4 clients-left">
                    <h5>@company.CompanyName <span class="rateit updateRating" data-companyid="@company.CompanyID" data-rateit-value="@company.CompanyRating" data-rateit-ispreset=" true" data-rateit-readonly="true"></span></h5>
                    <p>@company.CompanyDescription.ExtensionForString(100)</p>
                    <a class="hvr-shutter-in-horizontal" href="/CompanyDetails/GetcompanyById?id=@company.CompanyID">Read More</a>
                </div>
            }
        }
        <div class="clearfix"></div>
    </div>
</div>

<script type="text/javascript">
    $(".updateRating").click(function () {
        var ratedValue = $(this).rateit('value');
        var companyId = $(this).data('companyid');
        console.log(ratedValue);
        console.log(companyId);
        $.ajax({
            async: false,
            type: 'POST',
            data: {RatedValue: ratedValue,CompanyId:companyId },
            url: '/CompanyDetails/UpdateRating',
            success: function (data) {

            }
        });
    });

</script>
<!-- cases-end -->
