﻿@model  IPagedList<DontJoinThisCompany.Entities.CompanyDetail>
@using DontJoinThisCompany.Core.StringExtension;
@using PagedList.Mvc;
@using PagedList;
@{
    ViewBag.Title = "ActivityLog";
}
<div class="activityLog">
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Address</th>
                <th>Email Address</th>
                <th>Telephone</th>
                <th>Rating</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var companies in Model)
            {
                <tr>
                    <td>@companies.CompanyName</td>
                    <td>@companies.CompanyDescription.ExtensionForString(100)</td>
                    <td>@companies.CompanyAddress</td>
                    <td>@companies.CompanyEmailID</td>
                    <td>@companies.CompanyTelephone</td>
                    <td><span class="rateit" data-rateit-value="@companies.CompanyRating" data-rateit-ispreset="true" data-rateit-readonly="true"></span></td>
                    <td><a href="/ActivityLog/EditComapnyDetails?id=@companies.CompanyID">Edit</a></td>
                    <td><a class="deleteCompany" data-companyid="@companies.CompanyID">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>

</div>
@Html.PagedListPager(Model, page => HttpContext.Current.Request.Url.AbsolutePath + "?page=" + page, new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, MaximumPageNumbersToDisplay = 5, DisplayEllipsesWhenNotShowingAllPageNumbers = false, LinkToPreviousPageFormat = "Previous", LinkToNextPageFormat = "Next", DisplayLinkToLastPage = PagedListDisplayMode.Never, DisplayLinkToFirstPage = PagedListDisplayMode.Never })
<script>
    $('.deleteCompany').click(function () {
        var companyid = $(this).data('companyid');
        console.log(companyid);
        $.ajax({
            async: false,
            type: 'POST',
            data: { companyId: companyid },
            url: '/ActivityLog/Deletecompany',
        });
        $(this).closest('tr').remove();
        return false;
    });
</script>
