﻿@model DontJoinThisCompany.Entities.CompanyDetail

@{
    ViewBag.Title = "EditComapnyDetails";
}

<div class="contact">
    <div class="container">
        <div class="contact-top">
            <h3>Company Details</h3>
        </div>
        <div class="col-md-6 contact-bottom">
            <form method="post">
                @Html.ValidationSummary(true)
                @Html.HiddenFor(x => x.DateCreated)
                @Html.HiddenFor(x => x.CompanyID)
                @Html.HiddenFor(x => x.UserId)
                <input required type="text" placeholder="Company Name" value="@Model.CompanyName" name="CompanyName">
                <textarea placeholder="Compnay Description" name="CompanyDescription">@Model.CompanyDescription</textarea>
                <input type="text" placeholder="Compnay Address" value="@Model.CompanyAddress" name="CompanyAddress">
                <input type="email" placeholder="Email Address" value="@Model.CompanyEmailID" name="CompanyEmailID">
                <input type="tel" placeholder="Telephone" value="@Model.CompanyTelephone" name="CompanyTelephone">
                <input hidden id="rating" name="CompanyRating">
                <p>Rate this company : <span class="rateit" id="ratedValue" data-rateit-value="@Model.CompanyRating" data-rateit-ispreset="true" data-rateit-readonly="false"></span></p>
                <input type="submit" value="Save">
            </form>
            
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<script type="text/javascript">
    $("#ratedValue").click(function () {
        var ratedValue = $(this).rateit('value');
        console.log(ratedValue);
        $('#rating').val(ratedValue);
    });
</script>
