﻿@if (Request.IsAuthenticated)
{
    <text>
        <div class="dropdown hea-rgt1">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
               @Session["userName"]
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu ">
                <li><a href="/AddCompanyToDB">Add company</a></li>
                <li><a href="/ActivityLog/ActivityLog">Activity Log</a></li>
                <li><a href="/ManageUserSettings/ManageSettings">Settings</a></li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()">Log Off</a></li>
            </ul>
        </div>
        
        @using (Html.BeginForm("LogOff", "UserLoginDetails", FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()
           
        }
    </text>
}
else
{
    <div class="hea-rgt">
        <a href="/UserRegisterDetails/RegisterForm">Register</a>
    </div>
    <div class="hea-rgt">
        <a href="/UserLoginDetails/Login">Login</a>
    </div>
}
